<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>GitHub User  Profiler</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
  </head>
  <body>
  <nav class="navbar navbar-default navbar-inverse"">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">GitHub User  Profiler</a>
      </div>

    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">

    <form action="" method="post">
      <div class="form-group">

        <label for="user-profile-url-input">User Profile</label>
        <input type="text" class="form-control"  name="username" value="{{ request.form.username }}" id="user-profile-url-input" placeholder="Enter user profile">
      </div>
        <button id="submit-profile-user" type="submit" class="btn btn-primary">Profile this dev! </button>
    </form>
  </div>



  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>
